div.portal {
  $light-gray: #f0f0f0;
  $dark-gray: #4a4a4a;
  $yellow: #cf0;
  $font-size-l: 24px;
  $font-size-m: 18px;
  $font-size-s: 14px;
  $font-size-code: 13px;
  $min-width: 960px;
  background: $light-gray;
  width: 100%;
  min-width: $min-width;

  header {
    height: 266px;

    h1 {
      height: 100%;
      position: relative;

      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
    }
  }

  footer {
    width: $min-width;
    color: $dark-gray;
    margin: 0 auto;
    padding: 87px 0;
    font-size: $font-size-s;
    text-align: center;
  }

  @import './bookmarklet-link';
  @import './demo';
}
