[data-editable="trigger-download"] {
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 999;
  line-height: 1;
  &::before {
    content: 'Download';
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    font-family:
      -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial,
      "Hiragino Kaku Gothic ProN", "游ゴシック", "Yu Gothic",
      sans-serif;
  }
}
[data-editable="triggers-unit"] {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  opacity: 0;
  transition: opacity .3s;
  @nest html[data-editable] [data-editable="unit"]:hover > & {
    opacity: 1;
  }
}
[data-editable="trigger-insert-before"] {
  &::before {
    content: '<';
    cursor: pointer;
  }
}
[data-editable="trigger-remove-self"] {
  &::before {
    content: '-';
    cursor: pointer;
  }
}
[data-editable="trigger-insert-after"] {
  &::before {
    content: '>';
    cursor: pointer;
  }
}